/* Estilos para header y footer */
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Estilos para el contenido principal */
.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.content h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.content p {
    color: #666;
    font-size: 1.2em;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url(''); /* Cambia esto a la ruta correcta de tu imagen */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

